<div class="greeting-main" id="salutation">
  <div class="salutation-main"  wmAnimate="fadeInUp" aos speed="normal">
    <div class="salutation-text-div">
      <div>
        <h1 class="salutation-text">
          {{salutations.title}}
          <span class="wave-emoji">👋</span>
        </h1>
        <p class="salutation-text-p subTitle">{{salutations.subTitle}}</p>
        <div class="button-salutation-div">
          <div>
            <a class="main-button" href="#contact">Entre em contato</a>
          </div>
          <div>
            <a class="main-button" href={{salutations.resumeLink}}>Baixe Meu currículo</a>
          </div>
        </div>
      </div>
    </div>
    <div class="salutation-image-div">
      <img src="../../assets/images/salutation.svg" alt="Man sitting on table">
    </div>
  </div>
</div>
